<head th:fragment="dependencies" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" th:href="@{~/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{~/css/custom.css}">
    <link rel="stylesheet" th:href="@{~/css/bootstrap-colorselector.min.css}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script th:src="@{~/js/jquery.min.js}"></script>
    <script th:src="@{~/js/bootstrap.bundle.js}"></script>

    <script th:src="@{~/js/bootstrap-colorselector.min.js}"></script>
</head>
