<head th:fragment="dependencies" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="theme-color" content="#b51783" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Syday">
    <meta name="msapplication-TileImage" content="assets/icons/hello-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">

    <link rel="manifest" th:href="@{/manifest.json}">

    <link rel="icon" type="image/x-icon" th:href="@{favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/icons/icon-152x152.png}">
    
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-colorselector.min.css}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>

    <script th:src="@{/js/bootstrap-colorselector.min.js}"></script>
</head>
