<footer th:fragment="footer" class="footer fixed-bottom" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <small>
            Projekt des <a href="//coding-camp.sybit.de" target="_blank">Sybit Coding Camp</a> 2019.
        <a href="https://www.sybit.de/impressum/" target="_blank">Impressum</a>
        | <a href="http://coding-camp.sybit.de/code-of-conduct-de.html" target="_blank">Verhaltenskodex</a>
        | <a href="https://www.sybit.de/datenschutz/" target="_blank">Datenschutz</a>
        </small>
    </div>

</footer>

