<header th:fragment="navigationbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" style="font-size: 1.2rem" th:href="@{/}">
            Mastermind <span class="d-none d-sm-inline">| Sybit Coding Camp 2019</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/rules}">Rules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about-us}">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/restart}">Restart</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="ad2hs-prompt btn nav-link">Installieren</button>
                </li>
            </ul>
        </div>
    </nav>
        <script>
        if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.error('Error', err));
        }
        function addToHomeScreen() {
        let a2hsBtn = document.querySelector(".ad2hs-prompt");  // hide our user interface that shows our A2HS button
        a2hsBtn.style.display = 'none';  // Show the prompt
        deferredPrompt.prompt();  // Wait for the user to respond to the prompt
        deferredPrompt.userChoice
        .then(function(choiceResult){
        if (choiceResult.outcome === 'accepted') {
        console.log('User accepted the A2HS prompt');
        } else {
        console.log('User dismissed the A2HS prompt');
        }
        deferredPrompt = null;
        });}
        function showAddToHomeScreen() {
        let a2hsBtn = document.querySelector(".ad2hs-prompt");
        a2hsBtn.style.display = "block";
        a2hsBtn.addEventListener("click", addToHomeScreen);
        }
        let deferredPrompt;
        window.addEventListener('beforeinstallprompt', function (e) {
        // Prevent Chrome 67 and earlier from automatically showing the prompt
        e.preventDefault();
        // Stash the event so it can be triggered later.
        deferredPrompt = e;
        showAddToHomeScreen();
        });

        function showIosInstall() {
        let iosPrompt = document.querySelector(".ios-prompt");
        iosPrompt.style.display = "block";
        iosPrompt.addEventListener("click", () => {
        iosPrompt.style.display = "none";
        });
        }

        // Detects if device is on iOS
        const isIos = () => {
        const userAgent = window.navigator.userAgent.toLowerCase();
        return /iphone|ipad|ipod/.test( userAgent );
        }
        // Detects if device is in standalone mode
        const isInStandaloneMode = () => ('standalone' in window.navigator) && (window.navigator.standalone);
        // Checks if should display install popup notification:
        if (isIos() && !isInStandaloneMode()) {
        // this.setState({ showInstallMessage: true });
        showIosInstall();
        }
</script>
</header>

