body {
	height: 100vh;
	margin: 0;
	background-size: cover;
	width: 100%;
	background-image: url("../images/background.jpg");
}
.footer {
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: hsl(0, 0%, 96%);
}

.wrapper {
	height: calc(100vh - 116px);
	margin-top: 56px;
	display: grid;
	grid-template-rows: 70px auto 1fr;
	grid-row-gap: 5%;
}

.play-ground {
	grid-row: 2;
	overflow-y: scroll;
	border-bottom: 5px solid black;
}

.field-row {
	width: 90%;
	margin: 0 5% 5% 5%;
	display: grid;
	grid-template-columns: 7.5fr 2.5fr;
	grid-column-gap: 5%;
}

.color-pin-container {
	grid-column: 1;
	background-color: rgba(255,255,255,0.5);
	display: grid;
	grid-template-columns: repeat(4, 1fr);

}

.color-pin {
	width: 40px;
	height: 40px;
	margin: 20px auto;
	border-radius: 100%;
	background-color: black;

}

.feedback-box {
	grid-column: 2;
	background-color: rgba(255,255,255,0.5);
	display: grid;
	grid-template-rows: repeat(2,1fr);
	grid-template-columns: repeat(2,1fr);
	height: 80px;
}

.feedback-pin {
	border-radius: 100%;
	width: 25px;
	height: 25px;
	margin: 7.5px auto;
	background-color: red;
	opacity: 1;
}

.feedback-pin:nth-child(1) {
	grid-column:1;
	grid-row: 1;
}

.feedback-pin:nth-child(2) {
	grid-column:2;
	grid-row: 1;
}

.feedback-pin:nth-child(3) {
	grid-column:1;
	grid-row: 2;
}

.feedback-pin:nth-child(4) {
	grid-column:2;
	grid-row: 2;
}

.pin-white {
	background-color: white;
}

.feedback-pin-white:nth-child(1) {
	grid-column:1;
	grid-row: 1;
}

.feedback-pin-white:nth-child(2) {
	grid-column:2;
	grid-row: 1;
}

.feedback-pin-white:nth-child(3) {
	grid-column:1;
	grid-row: 2;
}

.feedback-pin-white:nth-child(4) {
	grid-column:2;
	grid-row: 2;
}

.color-select{
	grid-row: 3;
	height: 80px;
	border-top: 5px solid black;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}


.selected-color {
	height: 80%;
	width: 80%;
	margin: 10%;
	background-color: rgba(255,255,255,0.5);
}

#selected-color:nth-child(1){
	grid-column: 1;
}

#selected-color:nth-child(2){
	grid-column: 2;
}

#selected-color:nth-child(3){
	grid-column: 3;
}

#selected-color:nth-child(4){
	grid-column: 4;
}

.ok-btn-container {
	grid-column: 5;
}

.ok-btn {
	width: 80%;
	height: 80%;
	margin: 10% ;
}

.lösung-container {
	width: 100%;
	max-width: 340px;
	grid-row: 1;
	margin: 0 auto;
	border-radius: 0 0 10px 10px;
	background-color: black;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	position: fixed;
	z-index: 99;
	left: calc(50% - 170px);
}

.lösung:nth-child(1) {
	grid-column: 1;
}
.lösung:nth-child(2) {
	grid-column: 2;
}
.lösung:nth-child(3) {
	grid-column: 3;
}
.lösung:nth-child(4) {
	grid-column: 4;
}

.p-lösung {
	color: white;
	font-size: 30px;
	margin-top: 10px;
	line-height: 50px;
	text-align: center;
}



