<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="include/dependencies :: dependencies">
    <title>Mastermind: Regeln</title>
</head>

<body>
<div th:replace="include/navigationbar :: navigationbar"></div>
<main role="main" class="container">
    <h1 class="pageHeading">Mastermind: Über uns</h1>
    <p>Foto

        Das Team

        Leiter:
        Stephan Strittmatter

        Azubis:
        Christian Wolter
        Daniele Suppa
        Gabriel Berchmann
        Nico Genz
        Nikolaj Lerch
        Simon Popp

        Praktikanten:
        Florian Müller
        Jannik Braunwarth
        Jeremy Czerner
        Laura Matz
        (Matteo Frey)
        Niklas Dietze
        Raphael Schnick
        Shrey Pethkar
        Tim Apel

        Das Projekt:

        In der Woche vom 29.07-02.08.2019 haben wir das Spiel Mastermind Progammiert.
        Angefangen haben wir damit, indem wir Storys aufgeschrieben haben und zur jeder Story gab es mehrere Tasks die zu erledigen waren.
        In den folgenden Tagen haben wir die Storys und Tasks nach und nach abgearbeitet.
        Die Azubis haben in dieser Zeit auch die Praktikanten dabei unterstützt.
        Uns Praktikanten wurde viel gezeigt und auch erklärt.
        Wir Praktikanten haben gesehen und es selbst miterlebt, wie es ist in einem Team zusammenzuarbeiten, und konnten viel daraus lernen.

    </p>
</main>
<div th:replace="include/footer :: footer"></div>
</body>

</html>
