<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="include/dependencies :: dependencies">
    <title>Coding Camp 2019</title>
</head>
<body>


<div th:replace="include/navigationbar :: navigationbar"></div>

<main class="container wrapper">
    <div class="lösung-container">
        <div th:each="i: ${#numbers.sequence(0, 3)}">
            <div class="lösung"><p class="p-lösung">?</p></div>
        </div>
    </div>
    <div class="play-ground">





        <div th:each="i: ${#numbers.sequence(0, 11)}">
            <div class="field-row" id="'row' + ${i}">
                <div class="color-pin-container">
                    <div th:each="i: ${#numbers.sequence(0, 3)}">
                        <div class="color-pin"></div>
                    </div>
                </div>
                <div class="feedback-container" th:id="'feedback-container-' +${i}">
                    <div th:each="feedbackObject: ${feedback}">
                        <div th:each="feedback: ${feedbackObject.getFeedback()}">
                            <p>Farbe: <span th:text="${feedback.value[1]}"></span></p>
                            <p>Position: <span th:text="${feedback.value[0]}"></span></p>
                            <div th:object></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="color-select">
        <div th:each="i: ${#numbers.sequence(0, 3)}">
                <div class="selected-color" id="'selected-color' + ${i}"></div>
        </div>
        <div class="ok-btn-container">
            <button class="btn btn-primary ok-btn">OK</button>
        </div>
    </div>

</main>

<div th:replace="include/footer :: footer"></div>


<script th:inline=""javascript>

    function createFbPins(row) {
        var fbObject = /*[[${feedbackObject}]]*/;
        var correctColors =  3;
        var correctPositions = 1;

        let FbContainer = document.getElementById(`feedback-container-${row}`);
        for(let i = 0; i< correctColors; i++) {
            let pin = document.createElement('div');
            FbContainer.appendChild(pin);
            pin.classList.add('feedback-pin');
            if(correctPositions > i) {
                pin.classList.add('pin-red');
            }

        }
    }
    createFbPins(1);
</script>
</body>
</html>
