<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="include/dependencies :: dependencies">
    <title>Coding Camp 2019</title>
</head>
<body>


<div th:replace="include/navigationbar :: navigationbar"></div>

<main class="container wrapper">
    <div class="lösung-container">
        <div th:each="i: ${#numbers.sequence(0, 3)}">
            <div class="lösung" th:id="'00' + ${i}" th:style="${solution} ? 'background:' + ${solution.getColors()[__${i}__]}"></div>
        </div>
    </div>
    <div class="playground-container">
        <table class="play-ground">
            <th:block>
                <tr class="row field-row" th:each="colorObject : ${feedback}">
                    <td th:each="b : ${#numbers.sequence(0,3)}" class="color-pin-container">
                        <div class="color-pin" th:style="'background: ' + ${colorObject.getColorPos()[__${b}__]}">

                        </div>
                    </td>
                </tr>
            </th:block>
        </table>
        <table class="feedback-container">
            <th:block>
                <tr class="feedback-pin-container" th:each="feedbackObject : ${feedback}">
                    <td class="feed-container" th:each="feedback : ${feedbackObject.getFeedback()}">
                        <p>Pos: <span th:text="${feedback.value[0]}"></span></p>
                        <p>Far: <span th:text="${feedback.value[1]}"></span></p>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
    <form class="color-select" action="#" th:object="${pinPlacement}" method="post" >
        <div th:each="entry, entryStat: *{colors}" id="selection-container" class="selected-color" th:id="${i}">

                <select class="colorSelector" th:field="*{colors[__${entry.key}__]}">
                    <option th:each="color : ${allPossibleColors}" th:value="${color.colorHex}"
                            th:attr="data-color=${color.colorHex}"></option>
                </select>
        </div>

        <div></div>
        <button type="submit" class="btn btn-primary ok-btn" th:disabled="${buttonDisable}">OK</button>

    </form>

</main>
    <div th:replace="include/footer :: footer"></div>

    <script>

    $('.colorSelector').colorselector().on('change',function() {
        var color=$(this).find(':selected').attr('data-color');
        $(this).parent().closest('td').css('background', color);
        $(this).parent().closest('td').data("value",color);
    });

    //register service worker
    if ('serviceWorker' in navigator) {
        console.log("Will the service worker register?");
        navigator.serviceWorker.register('./service-worker.js')
            .then(function(reg){
                console.log("Yes, it did.");
            }).catch(function(err) {
                console.log("No it didn't. This happened: ", err)
            });
    }
</script>
</body>
</html>
