<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="include/dependencies :: dependencies">
    <title>Coding Camp 2019</title>
</head>
<body>


<div th:replace="include/navigationbar :: navigationbar"></div>

<main class="container wrapper">
    <div class="lösung-container">
        <div th:each="i: ${#numbers.sequence(0, 3)}">
            <div class="lösung" th:id="'00' + ${i}" th:style="${solution} ? 'background:' + ${solution.getColors()[__${i}__]}"></div>
        </div>
    </div>
    <input type="hidden" id="getColors" th:value="${correctColors}"/>
    <input type="hidden" id="getPositions" th:value="${correctPositions}"/>
    <input type="hidden" id="feedbackSize" th:value="${feedbackSize}"/>
    <div class="playground-container">
        <table class="play-ground">
            <th:block>
                <tr class="row field-row" th:each="colorObject : ${feedback}">
                    <td class="color-pin-container">
                        <div th:each="b : ${#numbers.sequence(0,3)}" class="color-pin" th:style="'background: ' + ${colorObject.getColorPos()[__${b}__]}">

                        </div>
                    </td>
                    <td class="feedback-container" th:each="a : ${feedbackSize}" th:id="'feedback-container-'+ ${a}">
                    </td>
                </tr>
            </th:block>

        </table>
    </div>
    <form class="color-select" action="#" th:object="${pinPlacement}" method="post" >
        <div th:each="entry, entryStat: *{colors}" id="selection-container" class="selected-color" th:id="${i}">

                <select class="colorSelector" th:field="*{colors[__${entry.key}__]}">
                    <option th:each="color : ${allPossibleColors}" th:value="${color.colorHex}"
                            th:attr="data-color=${color.colorHex}"></option>
                </select>
        </div>

        <div class="ok-btn-container">
            <!--<button type="submit" class="btn btn-primary ok-btn" th:disabled="${buttonDisable}">OK</button>-->
            <button type="submit" class="btn btn-primary ok-btn" th:disabled="${buttonDisable}">OK</button>
        </div>

    </form>

</main>
    <div th:replace="include/footer :: footer"></div>

    <script>
        var attempt = document.getElementsByClassName('field-row').length;
        var numRows = $("#feedbackSize").val();
        var attempt = 0;
        function createFbPins(row) {
            var correctColors = $("#getColors").val();
            var correctPositions = $("#getPositions").val();
            console.log(numRows);
            console.log(correctColors,correctPositions);
            var FbContainer = document.getElementById(`feedback-container-${numRows}`);
            console.log(FbContainer);
                for(let i = 0; i< correctColors; i++) {
                    let pin = document.createElement('div');
                    FbContainer.appendChild(pin);
                    pin.classList.add('feedback-pin');

                }
                for (let j = 0;j<correctPositions; j++) {
                    let pinRed = document.createElement('div');
                    FbContainer.appendChild(pinRed);
                    pinRed.classList.add('feedback-pin');
                    pinRed.classList.add('pin-red');
                }
        }
            createFbPins(numRows);
            createFbPins(attempt);

    $('.colorSelector').colorselector().on('change',function() {
    var color=$(this).find(':selected').attr('data-color');
    $(this).parent().closest('td').css('background', color);
    $(this).parent().closest('td').data("value",color);
    });
    </script>
</body>
</html>
