<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="include/dependencies :: dependencies">
    <title>Mastermind: Regeln</title>
</head>

<body>
<div th:replace="include/navigationbar :: navigationbar"></div>
<main role="main" class="container">
    <h1 class="pageHeading">Mastermind: Die Regeln</h1>
    <div class="Infos">
        <p>Genaue Infos zum Spiel Mastermind findest du hier:
            <a class="customLink" href="https://de.wikipedia.org/wiki/Mastermind_(Spiel)">Wikipedia: Mastermind</a></p>
    </div>
    <ol class="Anleitung">
        <li>Wähle vier Farben aus der Menüleiste aus und bestätige sie indem du auf "OK" clickst.</li><br>
        <li>Danach wird dir rechts angezeigt wie viele Farben du richtig gewählt hast (weiß) und wie viele Farben auf
            der richtigen Position sind (rot)
        </li><br>
        <li>Das Spiel endet, wenn du einerseits die richtigen Farben in der richtigen Position hast oder wenn du zwölf
            Versuche verbraucht hast.
        </li>
    </ol>
</main>
<div th:replace="include/footer :: footer"></div>
</body>

</html>
